.game-screenshot-input {
  position: relative;

  >.upload-area {
    height       : 120px;
    border       : 1px solid var(--line-color);
    border-radius: 8px;
    margin-bottom: 16px;

    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 8px;

    >.icon.upload {
      display  : none;
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
    }

    >.loading-spinner {
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
    }
  }
}
